<% 
  // Nếu res.locals.user chưa được set (undefined), gán về object rỗng
  const perms = (typeof user !== 'undefined' && user && user?.role && user.role.permissions) 
                ? user.role.permissions 
                : []; 
%>

<header>
  <nav class="relative">
    <ul class="nav flex relative p-4">
      <span class="md:hidden parent relative inline-block w-[32px] h-[32px]">
        <svg class="relative w-full h-full text-gray-600 hover:text-blue-600 transition" 
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
        </svg>
        <input type="checkbox" id="menu-toggle" 
        class="absolute opacity-0 w-full h-full cursor-pointer top-0"/>
      </span>
      <div
       id="mobile-menu"
      class="flex flex-col z-10 hidden md:flex
      left-1/2 transform -translate-x-1/2
      md:left-0 md:-translate-x-0
      absolute top-[100%] rounded-2xl p-6 bg-gray-300 w-[90%]
      md:flex-row md:relative md:p-0 md:bg-transparent md:w-max">
        <% if (user?.protected || perms.includes('dashboard:view')) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/dashboard" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Dashboard</a></li>
        <% } %>

        <% if (user?.protected || perms.includes('user:read')) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/users" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Users</a></li>
        <% } %>

        <% if (user?.protected || perms.includes('agency:read')) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/agencies" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Agencies</a></li>
        <% } %>

        <% if (user?.protected || perms.includes('branch:read')) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/branches" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Branches</a></li>
        <% } %>

        <% if (user?.protected || perms.includes('key:read')) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/keys" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Keys</a></li>
        <% } %>

        <% if (user?.protected) { %>
          <li class="nav-item md:py-4">
            <a href="/admin/roles" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Roles</a></li>
          <li class="nav-item md:py-4">
            <a href="/mail/send-email" class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Email</a>
          </li>
        <% } %>
        
        <% if (user?.protected) { %>
          <li class="nav-item md:py-4"><a
            class="nav-link w-full md:w-max block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3"
            href="/admin/emoji">Web chat</a></li>
        <% } %>
      </div>

      <% if (user) { %>
        <li class="flex-1"></li>
        <li class="nav-item md:py-4">
          <a href="/login" class="nav-link block text-blue-500 text-lg rounded-lg hover:bg-green-200 hover:text-blue-800 px-4 py-3">Logout</a></li>
      <% } %>
    </ul>
    <% if (user) { %>
      <p class="absolute mt-8 md:mt-2 mx-8 md:left-0 right-0 top-[100%] text-gray-200">User: <%= user?.username ?? '' %></p>
    <% } %>
    <p class="absolute mt-2 me-8 right-0 top-[100%] text-gray-200 text-end" id="clock"></p>
  </nav>
</header>

<style>
  @media (max-width: 768px) {
    .parent:has(input[type="checkbox"]:checked) + #mobile-menu {
      display: flex;
    }
  }
</style>