<% layout('layouts/main') %>

<div class="h-full w-full flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-lg">
        <h1 class="text-2xl font-bold text-center mb-6">Đăng nhập</h1>

        <% if (error) { %>
        <p class="text-red-500 font-semibold text-sm text-center mb-4">
            <%= error %>
        </p>
        <% } else if (query && query.registered) { %>
        <p class="text-green-600 font-semibold text-sm text-center mb-4">
            Đăng ký thành công! Mời bạn đăng nhập.
        </p>
        <% } %>

        <form
            class="md:max-w-2xl mx-auto flex flex-col items-center"
            action="/login"
            method="post"
        >
            <div class="w-full my-4">
                <label for="username" class="block font-medium mb-1"
                    >Username</label
                >
                <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400"
                />
            </div>

            <div class="w-full my-4 relative">
                <label for="password" class="block font-medium mb-1"
                    >Password</label
                >
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400"
                />
                <button
                    type="button"
                    id="togglePassword"
                    class="absolute right-3 top-9 text-gray-500 focus:outline-none"
                >
                  <i class="fa-regular text-xl fa-eye"></i>
                </button>
            </div>

            <button
                type="submit"
                class="px-8 py-2 my-3 bg-blue-500 rounded-xl text-gray-200"
            >
                Đăng nhập
            </button>
        </form>

        <div class="flex items-center text-center text-sm mt-4">
            <hr class="flex-1 border-gray-500">
            <span class="px-3 text-gray-500">Hoặc chưa có tài khoản?</span>
            <hr class="flex-1 border-gray-500">
            <!-- <a
                href="/register"
                class="text-indigo-500 hover:underline font-semibold"
                >Đăng ký</a
            > -->
        </div>

        <!-- Đăng nhập bằng mạng xã hội -->
        <div class="flex justify-center space-x-3 mt-6">
            <a href="/auth/google" class="transition duration-500 w-[48px] hover:w-[64px] h-[48px] flex items-center justify-center text-xl px-4 py-2 bg-red-600 hover:bg-red-500 text-white rounded-full text-center">
                <i class="fa-brands fa-google"></i>
            </a>
            <a href="/auth/facebook" class="transition duration-500 w-[48px] hover:w-[64px] h-[48px] flex items-center justify-center text-xl px-4 py-2 bg-sky-600 hover:bg-sky-500 text-white rounded-full text-center">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="/auth/twitter" class="transition duration-500 w-[48px] hover:w-[64px] h-[48px] flex items-center justify-center text-xl px-4 py-2 bg-green-600 hover:bg-green-500 text-white rounded-full text-center">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </div>
    </div>
</div>

<script src="/js/togglePass.js"></script>
